


header {
    background-color: rgb(45, 212, 82);
    
    
}                         
header h1, header h2 {
    margin: 0;
    color: #fff; 
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    
}
header h1 { 
	padding: .5rem 0 0 0; 
	font-size: 2.1rem;
}
header h2{
	padding: .2rem 0 0 0; 
	font-size:1.05rem;    
}
header img {
    float: left; 
    height: 85px;
    padding-right: 10px;                         
    
}

p { 
    margin: 0;
    padding: 5%;
    color: rgb(66, 66, 66); 
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;


}

/* navigation bar start */

#navHome {
    background-color: rgb(182, 218, 50);
    border-radius: -3000px;
    
    box-shadow: 10px 10px 5px;
       
}


#navHome:hover {

    background: rgb(191, 60, 0);
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-duration: 1s;

}

#applicationsNav {

    background-color: rgb(182, 218, 50);
    border-radius: -3000px;
    box-shadow: 10px 10px 5px;
    

}

#applicationsNav:hover {

    background: rgb(191, 60, 0);
    transition-duration: 1s;
    transition-timing-function: ease;
}


#customersNav {
    background-color: rgb(182, 218, 50);
    border-radius: -3000;
    box-shadow: 10px 10px 5px;
    
    
}

#customersNav:hover {

    background: rgb(191, 60, 0);
    transition-duration: 1s;
    transition-timing-function: ease;
}


/* navigation bar start */














#aboutusNav {
    background-color: rgb(182, 218, 50);
    border-radius: -3000px;
    box-shadow: 10px 10px 5px;
    
}

#navbarNav {

    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    

}

#aboutusNav:hover {

    background: rgb(191, 60, 0);
    transition-duration: 1s;
    transition-timing-function: ease;
}


















/* .container {
    position: relative;
    text-align: center;
    color: white;
    

}     */

#card1Style {
    box-shadow: 5px 5px 10px 5px rgb(117, 218, 50);
    transition-duration: 0.75s;
  

}

/* div.card1Style.active {
    box-shadow: 5px 5px 10px 5px rgb(0, 0, 0);
    transition-duration: 0.75s;
  

} */

/* main header image */
.image {
    filter: drop-shadow(8px 8px 10px gray); filter: contrast(75%);
    width: 100%;
    height: auto;
    
}


.bg-light {background-color:rgb(0,191,177,1)!important;}

footer {
    background-color: rgb(45, 212, 82);
}




/* aside */

aside > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

aside > ul > li {
    padding: 8px;
    margin-bottom: 2px;
    margin-right: 8px;
    background: rgb(182, 218, 50);
    color:rgb(255, 255, 255)


}

aside > ul > li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: space-between;
}

aside > ul > li:hover {
    background: whitesmoke;
    color: rgb(9, 233, 1);
    transition-duration: 2s;
}



section,aside{
    height:500px;

}

section {
    background-color: rgb(117, 218, 50);
}

aside {
    background-color: rgb(117, 218, 50);
    width: 40%;
    display: inline-block;
    float: left;
}

#cards {
    background-color: rgb(117, 218, 50);

}

#cards {
    background-color: rgb(117, 218, 50);
}

.logo {
    transition: transform 2s;
    height: 75%

}

.logo.load {
    transform: translate(500px, 100px);
}


@-webkit-animation-duration: 1.5s {
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.footerFont {
    color: rgb(48, 41, 41);
}


@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} 






li {
    color: rgb(66, 66, 66);
} 



#navBarStyle {

    color: rgb(0,191,177,1);
   
}


aside {

    padding: 30px;
} 

#aisdeHeader {

    width: 50px;
}

#figure {

    height: 50px;
}

#asideStyle {

    width: 315px;
}










.footerFont {
    color: rgb(48, 41, 41);
}

#sectionStyle {

    background-color: rgb(182, 218, 50);
}

#sectionStyle1 {
    /* background-color: rgb(182, 218, 50); */

    background: rgb(182,218,50);
background: linear-gradient(22deg, rgba(182,218,50,1) 0%, rgba(34,17,136,1) 0%, rgba(182,218,50,1) 0%, rgba(0,191,177,1) 100%);
}

#navBarStyle {
    height: 100px;
    color: rgb(0,191,177,1);
}

#mainImg {
    height: 200px;
    /* display: flex;
    flex-wrap: wrap; */

}
